MARIADB_MAIN_ROOT_PASSWORD=TEST
MARIADB_MAIN_DATABASE=TEST
MARIADB_MAIN_USER=TEST
MARIADB_MAIN_PASSWORD=TEST
MARIADB_QUIZ_ROOT_PASSWORD=TEST
MARIADB_QUIZ_DATABASE=TEST
MARIADB_QUIZ_USER=TEST
MARIADB_QUIZ_PASSWORD=TEST