MARIADB_MAIN_ROOT_PASSWORD=root
MARIADB_MAIN_DATABASE=hirefy
MARIADB_MAIN_USER=user1
MARIADB_MAIN_PASSWORD=pass
MARIADB_QUIZ_ROOT_PASSWORD=root
MARIADB_QUIZ_DATABASE=hirefy
MARIADB_QUIZ_USER=user2
MARIADB_QUIZ_PASSWORD=pass

# Vault
VAULT_ADDR=http://127.0.0.1:8200
VAULT_TOKEN=root

# Main service DB
MARIADB_MAIN_ROOT_PASSWORD=root
MARIADB_MAIN_DATABASE=hirefy
MARIADB_MAIN_USER=root
MARIADB_MAIN_PASSWORD=root

# Quiz service DB
MARIADB_QUIZ_ROOT_PASSWORD=root
MARIADB_QUIZ_DATABASE=hirefy
MARIADB_QUIZ_USER=root
MARIADB_QUIZ_PASSWORD=root

# Global
QUIZ_PUBLIC_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
GOOGLE_CLIENT_ID=103278425538-0iqof4oahn4rfkl1j51tbd4t8bvu6655.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ACCESS_TOKEN_SECRET=96c2401320859efdd13ac8b2043d93ffce79dc76d93872e61a210c556582b1c4e4865ea773b185805bb5ab92dcba4c5a8334cb4d334197bd71c7efa0680858d9
REFRESH_TOKEN_SECRET=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
VERIFY_SECRET=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
VERIFY_TOKEN_SECRET=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
TEMP_TOKEN_SECRET=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
USER_EMAIL=fttranscendencefttranscendence@gmail.com
USER_PASSWORD=mqsuowqknwrumsmp
INTERNAL_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
AI_INTERNAL_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
RECRUITER_PASS=Abdellatif123@@
AI_MODEL_NAME=gpt-3.5-turbo
AI_API_KEY=your-api-key-here