MARIADB_MAIN_ROOT_PASSWORD=root
MARIADB_MAIN_DATABASE=hirefy
MARIADB_MAIN_USER=user1
MARIADB_MAIN_PASSWORD=pass
MARIADB_QUIZ_ROOT_PASSWORD=root
MARIADB_QUIZ_DATABASE=hirefy
MARIADB_QUIZ_USER=user2
MARIADB_QUIZ_PASSWORD=pass

