# VITE_MAIN_SERVICE_URL=http://localhost:3000
# VITE_CHAT_SERVICE_URL=http://localhost:3006
# VITE_QUIZ_SERVICE_URL=http://localhost:3308
# VITE_MAIN_API_URL=/api/main
# VITE_QUIZ_API_URL=/api/quiz
# VITE_INTERNAL_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
# VITE_QUIZ_PUBLIC_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad

VITE_MAIN_SERVICE_URL=http://localhost:3000
VITE_CHAT_SERVICE_URL=http://localhost:3006
VITE_QUIZ_SERVICE_URL=http://localhost:3308
VITE_MAIN_API_URL=/api/main
VITE_QUIZ_API_URL=/api/quiz
VITE_INTERNAL_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad
VITE_QUIZ_PUBLIC_API_KEY=8da503b92526d94b65daa2661d8ea91fd84679bac7aace7398e1064826e2ad