@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    body{
        --font-sans: "Calibri", "Arial", sans-serif;
        --font-serif: "Georgia", "Times New Roman", serif;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: black;
      transition: background-color 5000s ease-in-out 0s;
    }
    :where(.dark) input:-webkit-autofill,
    :where(.dark) input:-webkit-autofill:hover,
    :where(.dark) input:-webkit-autofill:focus {
      -webkit-text-fill-color: white !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .pramary-text {
        font-weight: 500;
        color: #00adef; 
    }

    .header-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 500;
        color: #000000;
    }

    .logo {
        background-color: #121b31;
        border-radius: 0.375rem;
        color: #ffffff;
        border-color: #1f2937;
        border-width: 1px;
    }

    .maincard {
        background-color: #FFFFFF;
        border-radius: 1.5rem;
        border-width: 1px;
    }

    .maincard:hover {
        border-color: #00adef; 
    }


    .childcard {
        background-color: #1e293b; 
        border-width: 1px;
        border-radius: 0.5rem;
        border-color: rgba(0, 173, 239, 0.2); 
    }

    .custom-scrollbar {
        &::-webkit-scrollbar {
            width: 6px; 
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #00adef; 
            border-radius: 9999px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #0086b8;
        }
    }
}