@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply transition-colors duration-300 ease-in-out;
    }

    .theme-switching *,
    .theme-switching *::before,
    .theme-switching *::after {
        transition: none !important;
        animation: none !important;
  }
}

:root {
    --color-primary: #00adef;
    --color-primary-whitebg: #F0F3FA;
    --color-primary-darkbg: #0f172a;
    --color-primary-hover: #008fcc;
    --color-primary-border: #0098d4;

    --color-secondary: #1e293b;
    --color-secondary-whitebg: #f8fafc;
    --color-secondary-darkbg: #0f172a;
    --color-secondary-hover: #334155;
    --color-secondary-border: #334155;

    --color-whitebg: #f8fafc;
    --color-darkbg: #162138;

    --color-surface-main: #FFFFFF;
    --color-surface-child: #f8fafc;
    --color-accent: #10B77F;
    --color-danger: #ff3b3b;
    --color-hover: #f97272;
    --color-danger-hover: #f97272;
}

@layer utilities {
    body{
        --font-sans: "Calibri", "Arial", sans-serif;
        --font-serif: "Georgia", "Times New Roman", serif;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: black;
      transition: background-color 5000s ease-in-out 0s;
    }
    :where(.dark) input:-webkit-autofill,
    :where(.dark) input:-webkit-autofill:hover,
    :where(.dark) input:-webkit-autofill:focus {
      -webkit-text-fill-color: white !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .custom-scrollbar {
        &::-webkit-scrollbar {
            width: 6px; 
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #00adef; 
            border-radius: 9999px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #0086b8;
        }
    }
}
