@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input:is(:-webkit-autofill, :autofill) {
        border: 3px dotted orange;
        -webkit-box-shadow: 0 0 0 30px white inset !important; 
      }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .pramary-text {
        font-weight: 500;
        color: #00adef; 
    }

    .header-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 500;
        color: rgb(255 255 255);
    }

    .logo {
        background-color: #121b31;
        border-radius: 0.375rem;
        color: #ffffff;
        border-color: #1f2937;
        border-width: 1px;
    }

    .maincard {
        background-color: #121b31;
        border-color: #1f2937; 
        border-radius: 1rem; 
    }

    .maincard:hover {
        border-color: #00adef; 
    }


    .childcard {
        background-color: #1e293b; 
        border-width: 1px;
        border-radius: 0.5rem;
        border-color: rgba(0, 173, 239, 0.2); /* Soft blue border opacity */
    }

    .custom-scrollbar {
        &::-webkit-scrollbar {
            width: 6px; 
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #00adef; 
            border-radius: 9999px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #0086b8; /* Darker blue on hover */
        }
    }
}